title {
    text-transform: capitalize;
}

.list-type {
    text-transform: uppercase;
    color: #808284;
    display: inline;
}

.none-transform {
    text-transform: none;
    font-weight: bold;
}

.question-post {
    margin-top: 30px;
    margin-bottom: 20px;
}

.ask-button {
    float: right;
}

div .list-header {
    margin-top: 30px;
}

.label {
    display: inline-block;
}