title {
    text-transform: capitalize;
}

.list-type {
    text-transform: uppercase;
}

.none-transform {
    text-transform: none;
    font-weight: bold;
}

.question-post {
    margin-top: 30px;
    margin-bottom: 20px;
}

.question-title {
    text-decoration: none;
    color: black;
}

.question-title:hover {
    text-decoration: none;
    color: #e69126;
    font-weight: bold;
}

.ask-button {
    float: right;
}

div .list-header {
    margin-top: 30px;
}

.label {
    display: inline-block;
}